html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-image: url("/assets/images/lunarBG.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #000000;
  font-family: orbitron;
}

#title {
  z-index: -1;
}

#holder {
  /* max-height: 50px;
  max-width: 200px; */
  background: #526f93;
  position: absolute;
  color: white;
  border: 1px white solid;
}
