html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-image: url("../assets/images/lunarBG.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #000000;
  font-family: orbitron;
}

#title {
  z-index: -1;
}

#holder {
  background: #526f93;
  position: absolute;
  color: white;
  border: 1px white solid;
}

#rotate-control {
  background: #526f93;
  opacity: 0.75;
  color: white;
  border: 1px white solid;
}

#blurb-content {
  background: #526f93;
  opacity: 0.75;
  color: white;
  border: 1px white solid;
  font-family: orbitron;
}
